.catalog {
  text-align: center;
}

.catalog__slogan,
.catalog__title {
  color: $main-color-text;
  text-transform: uppercase;
}

.catalog__slogan {
  background-color: $color-yellow;
  font-family: $main-font-2;
  font-size: 25px;
  line-height: 1.5;
  padding: 11px 22px;
  display: inline-flex;
  margin-bottom: 33px;

  @include media(tablet) {
    font-size: 20px;
    padding: 8px 11px;
    margin-bottom: 20px;
  }

  @include media(mobile) {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
  }
}

.catalog__title {
  font-family: $main-font-3;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;

  @include media(tablet) {
    font-size: 33px;
    margin-bottom: 15px;
  }

  @include media(mobile) {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.catalog__description {
  font-family: $main-font;
  font-size: 17px;
  line-height: 1.764;
  color: $main-color-text;
  text-align: center;
  margin-bottom: 58px;

  @include media(tablet) {
    font-size: 15px;
    margin-bottom: 20px;
  }

  @include media(mobile) {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.catalog__box {
  position: relative;
}

.catalog__list {
  .slick-list {
    margin: 0 -60px;
    padding: 60px 0 0 !important;
  }

  .slick-track {
    display: flex;
    align-items: flex-end;
  }
}
.catalog__item {
  text-align: center;
  margin: 0 60px;
}

.catalog__link {
  display: block;
}

.catalog__img {
  padding-bottom: 14.1%;
  margin-bottom: 17px;
  position: relative;

  @include media(tablet) {
    margin-bottom: 14px;
  }

  @include media(mobile) {
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 156.725%;
    padding-top: 16.08%;
    background: radial-gradient(closest-side at center,rgba(0,0,0,.5) 0,rgba(0,0,0,.2) 24%,transparent 56%) no-repeat;
    left: -19.82%;
    bottom: -1.754%;

    @include media(mobile) {
      width: 156.7%;
      padding-top: 11.256%;
      background: radial-gradient(closest-side at center,rgba(0,0,0,.5) 0,rgba(0,0,0,.2) 14%,transparent 36%) no-repeat;
      left: -23.82%;
      bottom: -1.23%;
    }
  }

  .slick-center & {
    img {
      transform: scale(1.2);
    }

    &::after {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s;

    @include media(mobile) {
      width: 70%;
    }
  }
}

.catalog__card-title {
  font-family: $main-font-2;
  font-size: 38px;
  line-height: 1;
  color: $main-color-text;
  text-align: center;
  margin-bottom: 16px;

  @include media(tablet) {
    font-size: 27px;
    margin-bottom: 10px;
  }

  @include media(mobile) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.catalog__card-description {
  font-family: $main-font;
  font-size: 17px;
  line-height: 1.24;
  color: $main-color-text;
  text-align: center;
  margin-bottom: 32px;

  @include media(tablet) {
    margin-bottom: 20px;
  }

  @include media(mobile) {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.catalog__btn {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: none;
    &::after, 
    &::before {
      background-color: $color-yellow;
    }
  }

  &--prev {
    left: 15px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      background-color: $color-text-2;
      left: 13px; 
    }

    &::after {
      transform: translateY(-4px) rotate(-45deg);
    }

    &::before {
      transform: translateY(-16px) rotate(45deg);
    }
  }

  &--next {
    right: 15px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      background-color: $color-text-2;
      right: 13px; 
    }

    &::after {
      transform: translateY(-16px) rotate(-45deg);
    }

    &::before {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}


